@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto';
	background-color: #FAF7F6;
}

h1 {
    text-align: center;
}

input{
    width: 150px;
}

button{
    width: 200px;
    height: 50px;
}